<tr>
  <td>
    <%= check_box('list_id', 'id', {:class => "list_id_id", :multiple => true}, activite.id, nil)%>
  </td>
  <td>
    <%= activite.title %>
  </td>
  <td><%= render :partial => "shared/boolean_icon", :locals => {:boolean => activite.publish} %></td>
  <td>
    <div class='pull-right btn-group'>
      <%= link_to edit_back_activite_path(activite.id, params.slice(:scope_text, :scope_published, :scope_activite_id)), :remote => true, :class => 'static-popup-link btn btn-small my-tooltip', :data => { :delay => 500, :title => "Editer" } do %>
        <i class="icon-pencil"></i>
      <% end %>
      <%= link_to new_back_sousactivite_path(:activite_id => activite.id), :remote => true, :class => 'btn btn-small static-popup-link my-tooltip', :data => { :delay => 500, :title => "Créer une sous-activité"} do %>
        <i class="icon-plus"></i>
      <% end %>
      <% if activite.publish? %>
        <%= link_to publish_status_back_activite_path(activite.id, 'false', params.slice(:scope_text, :scope_published, :scope_activite_id)), :class => 'btn btn-small my-tooltip btn-warning', :data => { :delay => 500, :title => "Dépublier" } do %>
          <i class="icon-remove"></i>
        <% end %>
      <% else %>
        <%= link_to publish_status_back_activite_path(activite.id, 'true', params.slice(:scope_text, :scope_published, :scope_activite_id)), :class => 'btn btn-small my-tooltip btn-warning', :data => { :delay => 500, :title => "Publier" } do %>
          <i class="icon-ok"></i>
        <% end %>
      <% end %>
      <%= link_to back_activite_path(activite.id, params.slice(:scope_text, :scope_published, :scope_activite_id)), method: :delete, data: { confirm: "Sûr ?", :delay => 500, :title => "Supprimer" }, :class => "btn btn-small my-tooltip btn-danger" do %>
        <i class="icon-trash icon-white"></i>
      <% end %>
    </div>
  </td>
</tr>
