<h3>News</h3>

<div class="back-filter">
  <%= form_tag '', :method => :get, :id => 'form-back-filtered' do %>
    <div class="icon-search"></div>
    <div class="back-filter-item">
      <input name="scope_text" placeholder="Rechercher" type="text" value="<%= params[:scope_text] %>"></input>
    </div>
    <div class="back-filter-item">
      Publication<br/>
      <select name="scope_published">
        <option value="">Tous</option>
        <option value="1" <% if params["scope_published"] == "1" %>selected="selected"<% end %>>
          Publié
        </option>
        <option value="0" <% if params["scope_published"] == "0" %>selected="selected"<% end %>>
          Non publié
        </option>
      </select>
    </div>
  <% end %>
</div>

<%= form_tag(back_news_update_all_path, :method => :post, :id => 'form-back-list_id') do %>
  <input id="scope_text" name="scope_text" type="hidden" value="<%= params["scope_text"]%>">
  <input id="scope_published" name="scope_published" type="hidden" value="<%= params["scope_published"]%>">

  <div class="back-button">
    <div class="back-main-checkbox">
      <%= check_box('list_id', 'check_all', {:multiple => true}, nil)%>
    </div>
    <div class="back-list-button-checkbox">
      <%= hidden_field 'list_id', 'action', :value => 'nothing' %>
      <%= link_to '#', :class => 'btn btn-small list_id_action my-tooltip btn-warning', 'data-action' => "publish", :data => { :delay => 500, :title => "Publier"} do %>
        <i class="icon-ok"></i>
      <% end %>
      <%= link_to '#', :class => 'btn btn-small list_id_action my-tooltip btn-warning', 'data-action' => "unpublish", :data => { :delay => 500, :title => "Dépublier"} do %>
        <i class="icon-remove"></i>
      <% end %>
      <%= link_to '#', data: { message: "Sûr ?", :delay => 500, :title => "Supprimer" },
      :class => "btn btn-small btn-danger list_id_action my-tooltip", 'data-action' => "delete" do %>
        <i class="icon-trash icon-white"></i>
      <% end %>
    </div>
    <div class="back-list-button-general">
      <%= link_to new_back_news_path, :remote => true, :class => "btn btn-small static-popup-link my-tooltip", :data => { :delay => 500, :title => "Ajouter"} do%>
        <i class="icon-plus"></i>
      <% end %>
    </div>
  </div>

  <% if @news.length > 0 %>
    <%= paginate @news, :theme => 'back' %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="span1"></th>
          <th class="span2">Date</th>
          <th class="span3">Titre</th>
          <th class="span1">Publié</th>
          <th class="span2"></th>
        </tr>
      </thead>

      <tbody>
        <% @news.each do |new| %>
          <%= render partial: "news", :locals => {:new => new} %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @news, :theme => 'back' %>
  <% end %>
<% end %>

<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" style="width:600px; padding:30px">
</div>
