<h3>Activités / <%= @sousactivite.activite.title  %> / <%= @sousactivite.title %> </h3>

<%= form_for(@sousactivite, url: back_sousactivite_path(@sousactivite.id), html: { method: :put, class: "form", multipart: true }) do |f| %>

<div class="actions row group-btn">
  <div>
    <%= f.submit "Valider", :class => "btn btn-primary" %>
  </div>
  <div>
    <%= link_to "Retour", back_activites_path, :class => "btn btn-inverse" %>
  </div>
</div>

<%= f.hidden_field :activite_id, :value => @sousactivite.activite_id %>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav nav-tabs" id="tabs">
        <li <% if session[:tabs] == "#text"%>class="active"<%end%>>
          <a href="#text" data-toggle="tab" class="tab">Textes</a>
        </li>
        <li <% if session[:tabs] == "#image"%>class="active"<%end%>>
          <a href="#image" data-toggle="tab" class="tab">Images</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="tab-content">
  <div class="tab-pane <% if session[:tabs] == "#text"%>active<%end%>" id="text">
    <div class="row">
      <div class="span12">
        <div class="control-group" style='height:60px;'>
          <%= f.text_field :title, :style => "width:300px;" %>
        </div>
        <div class="control-group" style='height:600px;'>
          <%= f.cktext_area :description %>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane <% if session[:tabs] == "#image"%>active<%end%>" id="image">
    <div class="row">
      <div class="span12">
        <div class='event-table'>
          <div class="back-button">
              <div class="back-list-button-general">
                <%= link_to new_back_sousactivite_sousactivite_image_path(@sousactivite.id), remote: true, :class => "btn btn-inverse btn-small static-popup-link my-tooltip", :data => { :delay => 500, :title => "Ajouter"} do %>
                  <i class="icon-plus icon-white"></i>
                <% end %>
              </div>
          </div>
          <% if @sousactivite_images.length == 0 %>
            <div class='event-table-column' style='width:800px;'>
              <br/>
              Aucune image
            </div>
          <% else %>
            <div class='event-table-column' style='width:800px;'>
              <table class="table table-striped" id="sortable">
                <thead>
                  <tr>
                    <th></th>
                    <th class="span4">
                      Image
                    </th>
                    <th class="span4">
                      Description
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <%= render partial: "back/sousactivite_images/sousactivite_image", collection: @sousactivite_images %>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

<% end %>

<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" style="width:700px; padding:30px; overflow-y: scroll; overflow-x: hidden; height:500px;">
</div>

<script type="text/javascript">
  var sousactivite_ready = function() {

    // To sort params with drag&drop
    //var cells, desired_width, table_width;
    if ($('#sortable').length > 0) {
      // table_width = $('#sortable').width();
      // cells = $('.table').find('tr')[0].cells.length;
      // desired_width = table_width / cells + 'px';
      // $('.table td').css('width', desired_width);
      $('#sortable').sortable({
        axis: 'y',
        items: '.item',
        cursor: 'move',
        sort: function(e, ui) {
          return ui.item.addClass('active-item-shadow');
        },
        stop: function(e, ui) {
          ui.item.removeClass('active-item-shadow');
          return ui.item.children('td').effect('highlight', {}, 1000);
        },
        update: function(e, ui) {
          var item_id, position;
          item_id = ui.item.data('item-id');
          position = ui.item.index();
          return $.ajax({
            type: 'POST',
            url: '/admin/sousactivites/sousactivite_images/update_row_order',
            dataType: 'json',
            data: {
                id: item_id,
                row_order_position: position
            }
          });
        }
      });
    }


  };
  $(document).ready(sousactivite_ready);
  $(document).on('page:load', sousactivite_ready);
</script>
