<div class="preview-action">
  <%= tag "input", { "type" => "button", "value" => t("commons.action.choose_file"), "onclick" => "upload_image('#{id}', '#{options[:type_image]}')" } %>
  <% unless options[:help].blank? %>
    <%= render '/commons/tooltip', :message => I18n.t(options[:help]) %>
  <% end %>
  <div>
    <% unless options[:can_not_delete] %>
    <a class="preview-delete" <% if value.blank? %> style="display: none;" <% end %> id="delete-preview-<%=id%>" data-id="<%=id%>"><%= t("commons.action.does_delete_file") %></a>
    <span id="message-preview-<%=id%>" style="display: none;"><%= t("commons.status.file_deleted") %></span>
    <a class="preview-cancel" style="display: none;" id="cancel-preview-<%=id%>" data-id="<%=id%>"><%= t("commons.action.does_cancel") %></a>
    <% end %>
  </div>
</div>

<div class="preview-name" id = "name-preview-<%=id%>" style="display:none">
  <%= value.blank? ? "" : Pathname.new(value).basename %>
</div>

<div class="preview-image">
  <%= image_tag value, :alt => "", :id => "img-preview-#{id}", :class => "#{css_class}" %>
  <%= hidden_field "", "", :name => name, :id => id, :value => value %>
</div>
