<% content_for :scripts do %>
	<%= javascript_include_tag "front/jquery.bxslider.min.js" %>
	<%= javascript_include_tag "front/jquery.easing.1.3.js" %>
	<%= javascript_include_tag "front/jquery.als-1.7.min.js" %>
<% end %>
<main style="padding-top: 140px;">
	<section id="home-slider">
		<div class="row collapse">
			<div class="small-12 columns">
				<ul class="bxslider bxslider_fix">
					<li>
						<img src="<%=image_path("front/sample/slide1.jpg")%>">
						<div class="home-slider-desc">
							<h2><small>analyse, </small>maîtrise,</br>
							sécurité <small>& accessibilité</small>
							</h2>
							<p>
								Spécialistes des travaux d’accès difficile, nous nous impliquons chaque jour pour développer une relation de <mark>confiance</mark> avec nos clients.
							</p>
						</div>
					</li>
					<li>
						<img src="http://www.online-image-editor.com/styles/2014/images/example_image.png">
						<div class="home-slider-desc">
							<h2><small>Guillaume, </small>un plan Q,</br>
							<small>à toute occasion</small>
							</h2>
							<p>
								Où vous voulez, quand vous voulez, je me rends disponible d'un simple contact <mark>avec photo</mark> évidemment.
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section id="home-domain">
		<div class="row">
			<div class="small-12 columns">
				<h2>
					Domaines d’interventions
				</h2>	
				<ul id="list-domain" class="medium-block-grid-1 large-block-grid-3">
					<% @activite.each do |activite| %>
						<li class="<%=activite.slug[3..-1]%>">
							<h3><a class="scrollTo" href="#<%=activite.slug%>"><%=activite.title[3..-1]%></a></h3>
							<ul>
								<% activite.sousactivites.scope_published(true).order("title").each do |ssactivite| %>
									<li><a class="scrollTo" href="#<%=ssactivite.slug%>"><%=ssactivite.title[3..-1]%></a></li>
								<% end %>
							</ul>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</section>
	<% @activite.each do |activite| %>
		<section id="home-references2">
			<div class="row collapse" id="<%=activite.slug%>">
				<div class="small-12">
					<h2><%=activite.title[3..-1]%></h2>
				</div>
			</div>
		</section>
		<section id="home-activities">
			<% left = true %>
			<% activite.sousactivites.scope_published(true).order("title").each do |ssactivite| %>
				<div class="row collapse">
					<% if left %>
						<div class="small-12 medium-6 columns">
							<ul id="bxslider-<%=ssactivite.id%>" class="bxslider_fix">
								<% ssactivite.sousactivite_images.each do |image| %>
									<li>
										<div class="visuel">
											<div class="">
												<img class="visuel" src="<%=image.image%>">
												<p><%=image.description%></p>
											</div>
										</div>
									</li>
								<% end %>
							</ul>
							<div id="bx-pager-<%=ssactivite.id%>" class="bx-pager">
								<% ssactivite.sousactivite_images.each_with_index do |image, i| %>
							  <a data-slide-index="<%=i%>" href=""><img src="<%=image.image%>" /></a>
							  <% end %>
							</div>
						</div>
					<% end %>
					<div id="<%=ssactivite.slug%>" class="small-12 medium-6 columns">
						<div class="text">
							<mark><%=activite.title[3..-1]%> /</mark>
							<h3><%=ssactivite.title[3..-1]%></h3>
							<%=raw ssactivite.description%>
						</div>
					</div>
					<% unless left %>
						<div class="small-12 medium-6 columns">
							<ul id="bxslider-<%=ssactivite.id%>" class="bxslider_fix">
								<% ssactivite.sousactivite_images.rank(:row_order).each do |image| %>
									<li>
										<div class="visuel">
											<div class="">
												<img class="visuel" src="<%=image.image%>">
												<p><%=image.description%></p>
											</div>
										</div>
									</li>
								<% end %>
							</ul>
							<div id="bx-pager-<%=ssactivite.id%>" class="bx-pager">
								<% ssactivite.sousactivite_images.rank(:row_order).each_with_index do |image, i| %>
							  <a data-slide-index="<%=i%>" href=""><img src="<%=image.image%>"/></a>
							  <% end %>
							</div>
						</div>
					<% end %>
					<% left = !left %>
				</div>
			<% end %>
		</section>
	<% end %>
	<section id="home-references">
		<div class="row collapse">
			<div class="small-12">
				<h2>Références</h2>
				<ul>
					<li>
						<img src="http://vignette2.wikia.nocookie.net/gtawiki/images/9/9a/PlayStation_1_Logo.png/revision/latest?cb=20100130082645" style='height:100px;'>
					</li>
					<li>
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Dell_Logo.png/601px-Dell_Logo.png" style='height:100px;'>
					</li>
					<li>
						<img src="http://img2.wikia.nocookie.net/__cb20110708164217/nintendo/en/images/f/f5/EA_Sports_Logo.png" style='height:100px;'>
					</li>
					<li>
						<img src="https://upload.wikimedia.org/wikipedia/nah/b/bd/Ford_logo.png" style='height:100px;'>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section id="home-actualites">
		<div class="wrapper">
			<div class="row collapse">
				<div class="small-12 columns">
					<h2>Actualités</h2>
				</div>
			</div>

			<div class="row collapse">

				<div class="als-container" id="home_news">
					<span class="als-prev"><%= image_tag "front/thin_left_arrow_333.png", :alt => "Précédent" %></span>
					<div class="als-viewport">
				    <ul class="als-wrapper">

					<% @news.each do |news| %>
						<li class="als-item small-12 medium-6 columns">
							<div class="actu small">
								<% unless news.image.blank? %>
									<div class="visuel">
										<img src="<%=news.image%>">
									</div>
								<% end %>
								<div class="content">
									<h3>
										<%= news.title %>
									</h3>
									<p>
										<%= news.intro %>
									</p>
								</div>
							</div>
						</li>
					<% end %>

						</ul>
				 	</div>
					<span class="als-next"><%= image_tag "front/thin_right_arrow_333.png", :alt => "Suivant" %></span>
				</div>

			</div>
		</div>
	</section>
		<section id="contact-form">
		<div class="row">
			<div class="small-12 columns">
				<h2>Contact</h2>
				<p><strong>Guillaume Gallais  |  <a href="tel:0656566565">06 56 56 65 65</a></strong></p>
				<%= form_tag(front_contact_forms_path) do %>
					<div class="row">
						<div class="small-3 columns">&nbsp;</div>
						<div class="small-3 columns">
							<%= text_field 'contact', 'name', :placeholder => "Nom", :style => 'width:200px;' %>
							<%= text_field 'contact', 'email', :placeholder => "Email", :style => 'width:200px;' %>
							<%= text_field 'contact', 'tel', :placeholder => "Téléphone", :style => 'width:200px;' %>
						</div>
						<div class="small-3 columns">
							<%= text_area 'contact', 'message', :rows => 8, :cols => 50, :placeholder => "Votre message" %>
						</div>
						<div class="small-3 columns">&nbsp;</div>
					</div>
					<div class="row">
						<div class="small-3 columns">&nbsp;</div>
						<div class="small-6 columns"><%= submit_tag("ENVOYER") %></div>
						<div class="small-3 columns">&nbsp;</div>
					</div>
				<% end %>
			</div>
		</div>
	</section>
	<section id="contact-coordonees">
		<div class="row">
			<div class="small-12 columns">
			  <h3>GetUp</h3>
				<p>
					Entreprise de travaux d'accès difficile<br/>

					ZA La Forge - 8, rue des Tisserands<br/>
					35830 BETTON<br/>

					<a href="mailto:contact@get-up.fr">contact@get-up.fr</a><br/>
					<a href="tel:0656566565">06 56 56 65 65</a><br/>
				</p>
			</div>
		  </div>
	</section>
	<section id="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4473.593027770758!2d-1.6321901864263735!3d48.18707540723381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480edc6210b1d9b9%3A0x8ac1a7bce2901689!2sGET+UP!5e0!3m2!1sfr!2sfr!4v1453072689000" width="100%" height="340px" frameborder="0" style="border:0" ></iframe>
	</section>
	
</main>

<script type="text/javascript">
$(document).ready(function(){
// carousel
	$(function() {
	  $('.bxslider').bxSlider({
	    infiniteLoop: true,
	    auto: true,
	    pager: false,
	    controls: false,
	    mode: 'fade'
	  });

	  <% @activite.each do |activite| %>
	  	<% activite.sousactivites.scope_published(true).order("title").each do |ssactivite| %>
	  		$('#bxslider-<%=ssactivite.id%>').bxSlider({
			    // infiniteLoop: true,
			    hideControlOnEnd: true,
			    auto: false,
			    pager: true,
					// nextText: '<i class="fa fa-chevron-circle-right fa-3x"></i>',
	  			// prevText: '<i class="fa fa-chevron-circle-left fa-3x"></i>',
	  			pagerCustom: '#bx-pager-<%=ssactivite.id%>'
				});
	  	<% end %>
	  <% end %>

		

		$("#home_news").als({
	    visible_items: 4,
	    scrolling_items: 1,
	    orientation: "horizontal",
	    circular: "yes",
	    autoscroll: "no",
	    interval: 5000
	  });

	});
});



</script>