<% content_for :scripts do %>
	<%= javascript_include_tag "front/jquery.bxslider.min.js" %>
	<%= javascript_include_tag "front/jquery.easing.1.3.js" %>
	<%= javascript_include_tag "front/carousel_home.js" %>
	<%= javascript_include_tag "front/jquery.als-1.7.min.js" %>
<% end %>
<main>
	<section id="home-slider">
		<div class="row collapse">
			<div class="small-12 columns">
				<ul class="bxslider bxslider_fix">
					<li>
						<img src="<%=image_path("front/sample/slide1.jpg")%>">
						<div class="home-slider-desc">
							<h2><small>analyse, </small>maîtrise,</br>
							sécurité <small>& accessibilité</small>
							</h2>
							<p>
								Spécialistes des travaux d’accès difficile, nous nous impliquons chaque jour pour développer une relation de <mark>confiance</mark> avec nos clients.
							</p>
						</div>
						<li>
						<img src="http://www.online-image-editor.com/styles/2014/images/example_image.png">
						<div class="home-slider-desc">
							<h2><small>Guillaume, </small>un plan Q,</br>
							<small>à toute occasion</small>
							</h2>
							<p>
								Où vous voulez, quand vous voulez, je me rends disponible d'un simple contact <mark>avec photo</mark> évidemment.
							</p>
						</div>
					</li>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section id="home-domain">
		<div class="row">
			<div class="small-12 columns">
				<h2>
					Domaines d’interventions
				</h2>	
				<ul id="list-domain" class="medium-block-grid-1 large-block-grid-3">
					<% @activite.each do |activite| %>
						<li class="<%=activite.slug[3..-1]%>">
							<h3><%=activite.title[3..-1]%></h3>
							<ul>
								<% activite.sousactivites.scope_published(true).order("title").each do |ssactivite| %>
									<li><%=ssactivite.title[3..-1]%></li>
								<% end %>
							</ul>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</section>
	<% @activite.each do |activite| %>
		<section id="home-references">
			<div class="row collapse">
				<div class="small-12">
					<h2><%=activite.title[3..-1]%></h2>
				</div>
			</div>
		</section>
		<section id="home-activities">
			<% left = true %>
			<% activite.sousactivites.scope_published(true).order("title").each do |ssactivite| %>
				<div class="row collapse">
					<% if left %>
						<div class="small-12 medium-6 columns">
							<ul class="bxslider2 bxslider_fix">
								<li>
									<div class="visuel">
										<div class="hover">
											<img class="visuel" src="<%=image_path("front/home/activity1.png")%>">
										</div>
									</div>
								</li>
							</ul>
						</div>
					<% end %>
					<div id="nettoyage" class="small-12 medium-6 columns">
						<div class="text">
							<mark><%=activite.title[3..-1]%> /</mark>
							<h3><%=ssactivite.title[3..-1]%></h3>
							<%=raw ssactivite.description%>
						</div>
					</div>
					<% unless left %>
						<div class="small-12 medium-6 columns">
							<div class="visuel">
								<div class="hover">
									<img class="visuel" src="<%=image_path("front/home/activity1.png")%>">
								</div>
							</div>
						</div>
					<% end %>
					<% left = !left %>
				</div>
			<% end %>
		</section>
	<% end %>
	<section id="home-references">
		<div class="row collapse">
			<div class="small-12">
				<h2>Références</h2>
			</div>
		</div>
	</section>
	<section id="home-actualites">
		<div class="wrapper">
			<div class="row collapse">
				<div class="small-12 columns">
					<h2>Actualités</h2>
				</div>
			</div>
			<div class="row collapse">
				<div class="small-12 medium-12 columns">
					<div class="actu">
						<div class="visuel">
							<img src="<%=image_path("front/actus/actu1.png")%>">
						</div>
						<div class="content">
							<h3>
								Titre de l’Actu
							</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae justo finibus, elementum lac us vitae, luctus magna. Proin scelerisque, tellus ac blandit tincidunt, risus arcu hendrerit erat, et tempus nibh nulla eget neque.
							</p>
						</div>
						<div class="footer">
							<div class="social-btns">
								<%= render :partial => 'social_script' %>
							</div>
							<a href="" class="suite">Lire la suite</a>
						</div>
						<div class="spacer"></div>
					</div>
				</div>
			</div>
			<div class="row collapse">
				<div class="small-12 medium-6 columns">
					<div class="actu small">
						<div class="visuel">
							<img src="<%=image_path("front/actus/actu1.png")%>">
						</div>
						<div class="content">
							<h3>
								Titre de l’Actu
							</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae justo finibus, elementum lac us vitae, luctus magna. Proin scelerisque, tellus ac blandit tincidunt, risus arcu hendrerit erat, et tempus nibh nulla eget neque.
							</p>
						</div>
						<div class="footer">
							<div class="social-btns">
								<%= render :partial => 'social_script' %>
							</div>
							<a href="" class="suite">Lire la suite</a>
						</div>
						<div class="clear-fix"></div>
					</div>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="actu small">
						<div class="visuel">
							<img src="<%=image_path("front/actus/actu1.png")%>">
						</div>
						<div class="content">
							<h3>
								Titre de l’Actu
							</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae justo finibus, elementum lac us vitae, luctus magna. Proin scelerisque, tellus ac blandit tincidunt, risus arcu hendrerit erat, et tempus nibh nulla eget neque.
							</p>
						</div>
						<div class="footer">
							<div class="social-btns">
								<%= render :partial => 'social_script' %>
							</div>
							<a href="" class="suite">Lire la suite</a>
						</div>
						<div class="spacer"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="home-contact">
		<div class="row">
			<div class="small-12 medium-6 columns">
			  GETUP<br/>
			  Entreprise de travaux d'accès difficile<br/>


			  ZA La Forge - 8, rue des Tisserands<br/>
			  35830 BETTON<br/>

			  contact@get-up.fr<br/>

			  Guillaume Gallais<br/>
			  06.78.23.63.52<br/>
			  02.23.27.50.13<br/>

			</div>
		  </div>
	</section>
	<div class="row collapse">
		<div class="small-12 medium-6 columns">
			<% if @news.length > 0 %>
				<section class="section-home-projects first-section bg-color-dark">
					<div class="als-container" id="home_news">
						<span class="als-prev"><%= image_tag "front/thin_left_arrow_333.png", :alt => "Précédent" %></span>
			  		<div class="als-viewport">
			    		<ul class="als-wrapper">
			    			<% @news.each do |new| %>
			      			<li class="als-item">
			      				<%= link_to front_news_index_path do %>
				      				<div>
				      				 	<% unless new.image.blank? %>
				    							<%= image_tag new.image, :alt => "", :class=>"vignette_news" %>
				  							<% end %>
				      					<%=new.title%>
				      				</div>
				      			<% end %>
			      			</li>
			      		<% end %>
			    		</ul>
			  		</div>
			  		<span class="als-next"><%= image_tag "front/thin_right_arrow_333.png", :alt => "Suivant" %></span>
					</div>
				</section>
			<% end %>
		</div>
	</div>
</main>

