<% content_for :scripts do %>
	<%= javascript_include_tag "front/jquery.bxslider.min.js" %>
	<%= javascript_include_tag "front/jquery.easing.1.3.js" %>
	<%= javascript_include_tag "front/carousel_home.js" %>
	<%= javascript_include_tag "front/jquery.als-1.7.min.js" %>
<% end %>
<main>
	<section id="home-slider">
		<div class="row collapse">
			<div class="small-12 columns">
				<ul class="bxslider bxslider_fix">
					<li>
						<img src="<%=image_path("front/sample/slide1.jpg")%>">
						<div class="home-slider-desc">
							<h2><small>analyse, </small>maîtrise,</br>
							sécurité <small>& accessibilité</small>
							</h2>
							<p>
								Spécialistes des travaux d’accès difficile, nous nous impliquons chaque jour pour développer une relation de <mark>confiance</mark> avec nos clients.
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section id="home-domain">
		<div class="row">
			<div class="small-12 columns">
				<h2>
					Domaines d’interventions
				</h2>	
				<ul id="list-domain" class="medium-block-grid-1 large-block-grid-3">
					<li class="travaux">
						<h3>Travaux urbains</h3>
						<ul>
							<li>Purge et mise en sécurité de façades</li>
							<li>Traitement de fissures, reprises de maçonnerie, reprises de peinture  </li>
							<li>Dépose et pose de conduits de ventilation, d’enseignes, de descentes pluviales</li>
							<li>Lutte contre les nuisances volatiles</li>
							<li>Démontage d’arbres, élagage, débroussaillage et purge de falaises</li>
							<li>Vitrerie.</li>
						</ul>
					</li>
					<li class="industrie">
						<h3>Industrie</h3>
						<ul>
							<li>Nettoyage haute pression, purge de silos</li>
							<li>Opérations de maintenance</li>
							<li>Dépoussiérage par aspiration</li>
							<li>Dépose et pose d’éléments divers</li>
							<li>Travail en milieu confiné</li>
							<li>Traitement anticorrosion, peinture.</li>
						</ul>
					</li>
					<li class="securite">
						<h3>Sécurité -Expertise</h3>
						<ul>
							<li>Expertises photographique et vidéo</li>
							<li>Pose de lignes de vie, de points d’ancrages, de garde-corps.</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section id="home-activities">
		<div class="row collapse">
			<div class="small-12 medium-6 columns">
				<div class="visuel">
					<div class="hover">
						<img class="visuel" src="<%=image_path("front/home/activity1.png")%>">
					</div>
				</div>
			</div>
			<div class="small-12 medium-6 columns">
				<div class="text">
					<mark>Bâtiment /</mark>
					<h3>Nettoyage haute pression</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate, est vel varius convallis, sapien quam euismod enim, non condimentum massa est at enim. 
					</p>
					<p>
						Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam ut elementum urna. Ut id mi nec dui finibus congue. Mauris imperdiet, erat non tincidunt feugiat, dui odio lacinia risus, sit amet sollicitudin sapien nibh vitae est.
					</p>
				</div>
			</div>
		</div>
		<div class="row collapse">
			<div class="small-12 medium-6 columns">
				<div class="text">
					<mark>Bâtiment /</mark>
					<h3>Entretien de vitrerie</h3>
						<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate, est vel varius convallis, sapien quam euismod enim, non condimentum massa est at enim. 
					</p>
					<p>
						Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam ut elementum urna. Ut id mi nec dui finibus congue. Mauris imperdiet, erat non tincidunt feugiat, dui odio lacinia risus, sit amet sollicitudin sapien nibh vitae est.
					</p>
				</div>
			</div>
			<div class="small-12 medium-6 columns">
				<div class="visuel">
					<div class="hover">
						<img class="visuel" src="<%=image_path("front/home/activity2.png")%>">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="home-references">
		<div class="row collapse">
			<div class="small-12">
				<h2>Références</h2>
			</div>
		</div>
	</section>
	<section id="home-actualites">
		<div class="wrapper">
			<div class="row collapse">
				<div class="small-12 columns">
					<h2>Actualités</h2>
				</div>
			</div>
			<div class="row collapse">
				<div class="small-12 medium-12 columns">
					<div class="actu">
						<div class="visuel">
							<img src="<%=image_path("front/actus/actu1.png")%>">
						</div>
						<div class="content">
							<h3>
								Titre de l’Actu
							</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae justo finibus, elementum lac us vitae, luctus magna. Proin scelerisque, tellus ac blandit tincidunt, risus arcu hendrerit erat, et tempus nibh nulla eget neque.
							</p>
						</div>
						<div class="footer">
							<div class="social-btns">
								<%= render :partial => 'social_script' %>
							</div>
							<a href="" class="suite">Lire la suite</a>
						</div>
						<div class="spacer"></div>
					</div>
				</div>
			</div>
			<div class="row collapse">
				<div class="small-12 medium-6 columns">
					<div class="actu small">
						<div class="visuel">
							<img src="<%=image_path("front/actus/actu1.png")%>">
						</div>
						<div class="content">
							<h3>
								Titre de l’Actu
							</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae justo finibus, elementum lac us vitae, luctus magna. Proin scelerisque, tellus ac blandit tincidunt, risus arcu hendrerit erat, et tempus nibh nulla eget neque.
							</p>
						</div>
						<div class="footer">
							<div class="social-btns">
								<%= render :partial => 'social_script' %>
							</div>
							<a href="" class="suite">Lire la suite</a>
						</div>
						<div class="clear-fix"></div>
					</div>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="actu small">
						<div class="visuel">
							<img src="<%=image_path("front/actus/actu1.png")%>">
						</div>
						<div class="content">
							<h3>
								Titre de l’Actu
							</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae justo finibus, elementum lac us vitae, luctus magna. Proin scelerisque, tellus ac blandit tincidunt, risus arcu hendrerit erat, et tempus nibh nulla eget neque.
							</p>
						</div>
						<div class="footer">
							<div class="social-btns">
								<%= render :partial => 'social_script' %>
							</div>
							<a href="" class="suite">Lire la suite</a>
						</div>
						<div class="spacer"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="row collapse">
		<div class="small-12 medium-6 columns">
			<% if @news.length > 0 %>
				<section class="section-home-projects first-section bg-color-dark">
					<div class="als-container" id="home_news">
						<span class="als-prev"><%= image_tag "front/thin_left_arrow_333.png", :alt => "Précédent" %></span>
			  		<div class="als-viewport">
			    		<ul class="als-wrapper">
			    			<% @news.each do |new| %>
			      			<li class="als-item">
			      				<%= link_to front_news_index_path do %>
				      				<div>
				      				 	<% unless new.image.blank? %>
				    							<%= image_tag new.image, :alt => "", :class=>"vignette_news" %>
				  							<% end %>
				      					<%=new.title%>
				      				</div>
				      			<% end %>
			      			</li>
			      		<% end %>
			    		</ul>
			  		</div>
			  		<span class="als-next"><%= image_tag "front/thin_right_arrow_333.png", :alt => "Suivant" %></span>
					</div>
				</section>
			<% end %>
		</div>
	</div>
</main>

