<% content_for :scripts do %>
	<%= javascript_include_tag "front/jquery.bxslider.min.js" %>
	<%= javascript_include_tag "front/carousel.js" %>
<% end %>

<% content_for(:style) do %>
	<%= stylesheet_link_tag "jquery.bxslider.css", :media => "all" %>
<% end %>

<%= render :partial => 'submenu', :locals => { :activite => @activite } %>

<div class="habillage">
	<div class="row bg-secondary-color-blurred collapse">
		<div class="small-12 medium-6 columns">
			<ul class="bxslider bxslider_fix">
				<% @activite.all_images.each do |image| %>
				<li>
					<%= image_tag image, :alt => "", :class => 'thumbnail_activite' %>
				</li>
				<% end %>
			</ul>
			<div id="bx-pager">
				<%index=0%>
				<% @activite.all_images.each do |image| %>
					<a data-slide-index="<%=index%>" href=""><%= image_tag image, :alt => "", :class => 'vignette_activite' %></a>
					<%index=index+1%>
				<% end %>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<div id="sousactivite">
				<% if @sousactivite %>
					<%= render @sousactivite %>
				<% end %>
			</div>
			<div class="block-share-container">
				<h4 class="text-center"><span>Partager cette page</span></h4>
				<div class="social-btns">
					<%= render :partial => 'social_script' %>
				</div>
			</div>
		</div>
	</div>
</div>
