<!DOCTYPE html>
<html>
<head>
	<%= yield :head %>
	<%= stylesheet_link_tag    'back', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'back'%>
	<%= yield(:scripts) %>
	<%= csrf_meta_tags %>
</head>

<body>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="nav-collapse collapse pull-right">
        <ul class="nav">
          <li><a href="/" class="to-app-link">→</a></li>
          <li><%= link_to "Déconnexion", destroy_user_session_path, :method => :get %></li>
        </ul>
      </div>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="">
          <a href="/admin/activites">Activites</a>
          </li>
          <li class="">
          <a href="/admin/news">News</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<% if notice %>
	<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
	<p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
